:root {
    --text-color: white;
    --bg-main: rgb(0, 43, 43);
    --dark-bg: rgb(0, 22, 22);
    --border-col:  rgb(0, 94, 94);
    --link-col: rgb(67, 181, 189);
    --link-col-visited: rgb(0, 87, 82);
    --post-title-color: rgb(166, 255, 255);
    --post-title-visited-color: rgb(0, 77, 77);
    --hover-color: rgb(0, 94, 94);


    --scrollbar-primary: #007562;
    --scrollbar-secondary: rgb(0, 99, 58);
    --scrollbar-hover: rgb(0, 131, 76);
}

